body {
  background: linear-gradient(25deg, rgba(38,185,136,1) 0%, rgba(18,124,166,1) 56%, rgba(46,38,185,1) 100%);
  width: 100%;
  font-family: 'Muli', sans-serif;
  margin: 0;
}
*  {
  box-sizing: border-box;
}
.header {
  width: 100%;
  color: white;
  height: 100%px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
}
.header-menu {
  cursor: pointer;
  margin-right: 30px;
}
.logo {
  margin: 10px 10px;
  width: 90px;
  height: 70px;
}
.usuario {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}
.header-menu:hover .usuario {
  display: block;
}
.usuario li {
  margin: 10px 0px;
}
.usuario li > a {
  text-decoration: none;
  color: white;
}
.usuario li > a:hover {
  text-decoration: underline;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  margin-right: 10px;
  width: 40px;
}
.main {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.input {
  width: 70%;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.1);
  border: 2px solid white;
  height: 50px;
  outline: none;
  padding: 0px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
}
::placeholder {
  color: white;
}
.h3 {
  color: white;
  font-size: 16px;
  margin-top: -16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
  cursor: pointer;
}
.carusel {
  width: 100%;
  padding-left: 30px;
  position: relative;
  overflow: auto;
  display: flex;
}
.carusel-container {
  margin: 70px 0px;
  padding-bottom: 10px;
  white-space: nowrap;
}
.carusel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  transform-origin: center left;
  transition: 450ms all;
}

.carusel-item:hover ~ .carusel-item {
  transform: translate3d(100px, 0, 0);
}
.carusel-container:hover .carusel-item {
  opacity: 0.3;
}
.carusel-container:hover .carusel-item:hover, .carusel-details {
  opacity: 1;
  transform: scale(1.5);
}

.carusel-item img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.carusel-details {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 10px;
  bottom: 10px;
  left: 20px;
  padding-left: 10px;
  opacity: 0;
  transition: 450ms opacity;
}
.carusel-item:hover .carusel-details{
  opacity: 1;
}
.carusel-details img {
  width: 15px;
  height: 15px;
}
.title {
  color: white;
  margin: 5px 0px 0px 0px;
}
.subtitle {
  color: white;
  font-size: 10px;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.footer a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
.footer a:hover {
  text-decoration: underline;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.44, rgb(38,185,136)),
                     color-stop(0.72, rgb(8,124,166)),
                     color-stop(0.99, rgb(46,38,185)));
}